.App {
  background-color: #282c34;
  /* text-align: center; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 1em;
}

@media screen and (max-width:1000px) {
  .App {
    gap: 1.2em;
  }
}